.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  max-height: 10vh;
  background-color: #1e426b;
  color: white;
}

input {
  width: 3em;
}

.logo {
  height: 5em;
}
.add-btn:hover {
  color: green;
}
.remove-btn:hover {
  color: red;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  list-style: none;
  color: white;
}

.react-link {
  color: white;
  text-decoration: none;
}

.shop-container {
  display: flex;
  flex-flow: row wrap;
}

.card {
  border: 2px solid black;
  border-radius: 5px;
  background-color: lightgrey;
  padding: 1em;
  margin: 1em;
}

.cart-sticky {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}
