.App {
  text-align: center;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background-color: #1e426b;
	color: white;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 30%;
	list-style: none;
}

